
select::-ms-expand {
    display: none;
}
body {
	font-family: 'robotolight';
	font-size:14px;
}

input:focus, button:focus {
	outline:0;
}	


/***********
Dashbaord Page
**************/
.listViewHomePage {
	width:100%;
}
.listViewHomePage th, .listViewHomePage td {
	padding:15px;
}
.statusBlock {
	color:#A7A7A7;
	border:1px solid #A7A7A7;
	padding:5px 10px;
	margin:15px 0;
	font-size: 12px;
	font-family: 'robotobold';
}
.statusBlock:hover, .statusBlock:hover .statusCount {
	color:#fff;
}
.statusCount {
	font-size:22px;
	display:inline-block;
	width:100%;
	font-family: 'robotobold';	
}
.allCompColor { border-color:#1F60AD; }
.allCompColor .statusCount { color:#1F60AD; }
.allCompColor:hover { background:#1F60AD; }

.assiCompColor { border-color:#DC2590; }
.assiCompColor .statusCount { color:#DC2590; }
.assiCompColor:hover { background:#DC2590; }

.wipCompColor { border-color:#702F8A; }
.wipCompColor .statusCount { color:#702F8A; }
.wipCompColor:hover { background:#702F8A; }

.pendCompColor { border-color:#F0B431; }
.pendCompColor .statusCount { color:#F0B431; }
.pendCompColor:hover { background:#F0B431; }

.resolvCompColor { border-color:#448840; }
.resolvCompColor .statusCount { color:#448840; }
.resolvCompColor:hover { background:#448840; }

.rejectCompColor { border-color:#E31E2D; }
.rejectCompColor .statusCount { color:#E31E2D; }
.rejectCompColor:hover { background:#E31E2D; }

.csRadiobox  {
	display:inline-block;
	margin-right:25px;
}
.filterContent > .csRadiobox:last-child  {
	margin-right:0;
}
.csRadiobox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox-primary input[type="radio"]:checked + label::before {
    content: "\f192";
	position:absolute;
	left:0;
	color:#0072C6;
    font:normal normal normal 19px/1 FontAwesome;
	border:0;
}
.csRadiobox input[type="radio"] {
    opacity: 0;
}
.csRadiobox label {
	font-family: 'robotobold';
    display: inline-block;
    position: relative;
    padding-left: 5px;
	font-weight: normal;
    font-size: 13px;
}
.dashSearchComp {
	position:relative;
	padding:10px;
	border:1px solid #a7a7a7;
}
.dashSearchComp::before {
	content:"\f002";
	position:absolute;
	left:10px;
	font:normal normal normal 19px/1 FontAwesome;
	color:#a7a7a7;
}
.dashSearchBox {
	color: #a7a7a7;
    border: 0;
    width: 90%;
    margin-left: 28px;
	font-size:13px;
}


/************
SHEQ Form
**************/
.upliftTitle {
	color: #1F60AD;
    font-weight: bold;
}
.dateIncidentField {
	position:relative;
}
.dateIncidentField img.ui-datepicker-trigger {
	position:absolute;
	right:10px;
	top:10px;
}
.custom-file-upload {
    padding: 6px;
    cursor: pointer;
    background: #0072C6;
    color: #fff;
    font-size: 11px;
    border-radius: 4px;
	vertical-align: top;
	margin:0;
}
.uploadedFileList {
	padding: 6px 0 0 0;
    margin: 0;
    display: inline-block;
    list-style: none;
	width: calc(100% - 85px);
}
.uploadedFileName {
	font-size: 12px;
    margin-left: 15px;
	word-wrap: break-word;
	margin-bottom:12px;
	font-family: 'robotoregular';
}
.uploadedFileList > .uploadedFileName:last-child {
	margin-bottom:0;
}
.fileUploadBlock {
	width: 100%;
    border: 1px solid #ccc;
	padding:5px;
}
.removeUploadedFile:hover {
	cursor:pointer;
}
.removeUploadedFile {
	background: #838385;
    color: #fff;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 50%;
    font-weight: bold;
	margin-left: 5px;
}
.ulSelectOutter {
	position:relative;
	width:100%;
}
.ulSelect {
	width:100%;
	padding:7px;
	color:#ccc;
	border-radius:4px;
	position:relative;
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
	color:#6d6d6d;
}
.ulSelectOutter::after {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 17px/1 FontAwesome;
    color: #ccc;
    right: 7px;
    position: absolute;
    top: 9px;
    z-index: 0;
	font-weight: bold;
}
.prodDescriField{
	background: #F7F7F7;
	padding-right:0;
	padding-top:10px;
}

.prodDescriField > div{
    padding-bottom: 15px;	
	padding-left:0;		
}
.prodDescriField > div:first-child{
	padding-top: 15px;	
}
.addPackCodeLink {
	margin-bottom:30px;
}
.addPackCode {
	color:#005eb8;
	font-family: 'robotobold';
}
.form-label {
	color:#797979;
	font-size:12px;
	font-weight: normal;
}
.upliftBreadcrumTxt {
	font-size:30px;	
	color:#6d6d6d;
}
.sheqFormTop  {
	border-top:1px solid #DADADA;
	border-bottom:1px solid #DADADA;
	padding:15px 0;
}
.addCompTxt {
	font-family:'robotoregular';
	font-size: 20px;
}
.form-group {
	margin-bottom:30px;
}
.SheqFormWrap {
	display:inline-block;
	padding:30px 0;
}
.sheqFormTop > div:nth-child(2) {
	padding-top:10px;
}
.ulTxtBox  {
	box-shadow:0 0 0;
	color:#333;
}
.ulTxtBox[disabled] {
	background:#EBEBEB;
}
.ulBtn {
    background: transparent;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 25px;
	border:0;
	min-width:110px;
}
.brownBtn {
	background: #bf1f41;
    color: #fff;
}
.grayBtn {
	background:#005eb8;
	color: #fff;
}
.disableBtn{
	background:#a8a7a7;
	color: #fff;
}
.ulCancelBtn {
	border: 1px solid #8F8C8C;
}
.ulSubmitBtn {
	background:#722257;
	color:#fff;
}
textarea.ulTxtBox {
	resize:none;
	height: 100px;
}
.form-labelBig {
	font-size: 18px;
    font-family: 'robotobold';
    color: #525252;
    display: inline-block;
    width: 100%;	
}
